@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Gothic+A1&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
:root {
    --blue: #65b5ff;
    --silver: #939aa3;
    --purple: #af52de;
    --bg-color: #f6f6f6;
    --grey: #3f4548;
}

body {
    position: relative;
    font-family: Roboto;
    background: #f6f6f6;
}
h3{
    font-size: 20px;
    font-weight: 700;
}
a {text-decoration: none;}
ul {padding-left: 0;list-style: none;}
ul.dropdown-menu.hed.show {
    width: 155%;
    height: 286px;
    padding: 20px;
    box-shadow: 0px 0px 4px #00000057;
}
.top-header {
    position: fixed;
    top: 0;
    width: 100%;
    background: white;
    padding: 15px 0;
    z-index: 2;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.collapsed .links-area {
    display: none; 
}

.chevron {
    cursor: pointer;
}
.container-fluid content-sec {
    padding-left: 270px;
}
.header-item {
    display: flex;
    align-items: center;
    padding: 0 10px;
    border-right: 2px solid var(--bg-color);
    gap: 10px;
}

.header-item p {
    color: var(--silver);
    font-size: 14px;
}

.header-item a.chat-link {
    font-size: 14px;
    color: var(--blue);
}

.header-item .dropdown-toggle,
.header-item a.btn {
    padding: 0 5px;
    font-size: 16px;
}

.header-item .dropdown-toggle {color: var(--blue);}

.header-item a.btn {color: var(--silver);}

.search-box {position: relative;}

.search-box input {
    padding: 10px 20px;
    border-radius: 10px;
    width: 100%;
}

.search-box i {
    position: absolute;
    right: 20px;
    top: 15px;
    font-size: 20px;
    color: grey;
}

a.upgrade-button {
    background: var(--purple);
    color: white;
    padding: 10px 20px;
    border-radius: 30px;
}

.three-dots {
    opacity: 0;
    display: none;
    position: absolute ;
    right: 0;
    transform: rotate(90deg);
    font-size: 22px;
    color: black;
}

.sidebar {
    position: fixed;
    top: 70px;
    left: 0;
    width: 80px;
    height: 95vh;
    overflow: hidden;
    background: white;
    transition: all 0.4s ease-in-out;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
}
.main-section{
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
    height: 100%;
    padding: 0 20px ;
}
.sidebar.active .main-section{
    height: 90%;
    
}
.add-section{
    position: absolute;
    bottom:  0;
    height: 80px;
    width: 100%;
    background: white;
    z-index: 2;
    border-top: 1px;
    padding: 0 20px !important;
}
.main-section::-webkit-scrollbar {
    width: 2px;
}

.main-section::-webkit-scrollbar-thumb {
    background-color: var(--silver); 
    border-radius: 10px; 
}

.main-section::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

.main-section::-webkit-scrollbar-track {
    background-color: #f1f1f1; 
}
.sidebar.active {
    transition: all 0.4s ease-in-out;
    width: 230px;
}

.chevron-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    font-size: 17px !important;

}

.icon-1 {
    position: relative;
    transition: all 0.6s;
}

.sidebar.active .icon-1 {right: -165px;}

.sidebar .icon {
    width: 35px;
    height: 35px;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar .icon i {
    font-size: 22px;
    color: white;
}

.sidebar ul li > a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 7px;
    position: relative;
    padding: 5px ;
    border-radius: 5px;
    transition: all 0.3s;
}

.sidebar.active ul li>a {justify-content: flex-start !important;}
.sidebar span {color: var(--grey);}
.sidebar .first-item i , .sidebar .second-item i {color: var(--grey) !important;}
i.fa-solid.fa-user-group {padding: 0;}
.sidebar .item {padding: 10px 0;border-bottom: 1px solid #d9d9d9;}
.third-item .icon {background: #0082fb;}
.third-item .icon i { font-size: 17px !important;}
.fourth-item .icon {background: rgb(255, 95, 133);}
.fifth-item .icon {background: #f7b731;}
.add-section .icon{
    border-radius: 50%;
    background: transparent;
}
.add-section i{
    color: var(--blue) !important;
}
.sidebar.active ul li a:hover{
    background: rgba(0, 0, 0, 0.137);
}
.sidebar.active ul li a:hover .three-dots{
    display: block;
    opacity: 1;
    
}
.con-button span {
    border: 1px solid #00000036;
    padding: 10px 22px;
    border-radius: 31px;
    font-size: 15px;
    color: #000000a1;
}
.drop-down-con {
    text-align: center;
}

.drop-down-im img {
    width: 143px;
}

.drop-down-im {
    text-align: center;
}

.drop-down-con p {
    font-size: 13px;
}
.anch.so {
    margin: 0;
}
/* First-Sec */
section.main-sec {
    padding-top: 110px;
}

section.main-sec .container-fluid {
    padding-left: 250px;
}
.content-sec {
    background: #fff;
    padding: 20px;
    border-radius: 0 0 15px;
    width: 99%;
}

.links-rat {
    background: #fff;
    box-shadow: 0px 0px 8px #0000001a;
    padding: 16px;
    text-align: center;
    border-radius: 20px;
}
.link-icon i {
    color: #32bf90;
}
.link-icon h6 {
    font-weight: 400;
    font-size: 14px;
}
.con-div {
    background: #fff;
    padding: 16px;
    text-align: center;
    border-radius: 10px;
}

.icon-arrow i {
    background: #ebf9f4;
    width: 48px;
    height: 48px;
    line-height: 48px;
    border-radius: 32px;
    color: #32bf90;
    font-size: 21px;
}
.icon-arrow h6 {
    font-size: 14px;
    margin-top: 10px;
}

.icon-arrow p {
    color: #8b939c;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
}
/* Second-Section */
.about-sec .container-fluid {
    padding-left: 250px;
}
.main-end {
    display: flex;
    gap: 15px;
    align-items: center;
}
.main-1 {
    display: flex;
    gap: 16px;
    justify-content: end;
    align-items: center;
}
svg.highcharts-root {
    width: 1198px;
}
.dev {
    margin-top: 20px;
    padding: 30px 54px;
}
.area {
    margin: 19px 0 0;
}
/* Third-Sec */
.con-main {
    display: flex;
    justify-content: space-between;
}
.img-con {
    margin: 50px auto;
    width: 250px;
}
.img-dis img {
    width: 95px;
}
.img-dis {
    text-align: center;
    margin-bottom: 20px;
}
.img-con p {
    text-align: center;
    color: #9b9b9b;
    font-weight: 300;
}
.img-con p {
    text-align: center;
    color: #9b9b9b;
    font-weight: 300;
}

.img-con h3 {
    color: #2998ff;
    font-weight: 300;
}
.icon-arrow h3 {
    text-align: left;
    margin-bottom: 40px;
}

.icon-arrow img {
    margin-bottom: 28px;
    width: 90px;
}
.hv h6 {
    font-size: 23px;
    color: var(--blue);
}

.hv p {
    color: #2998ff;
    font-size: 18px;
    font-weight: 300;
}
.con-sec .container-fluid {
    padding-left: 250px;
}
.con-men h3 {
    margin-bottom: 0;
    margin-bottom: 10px;
}

.con-men p {
    text-align: left;
    font-size: 14px;
    color: #8b939c;
}

.con-men {
    border-bottom: 1px solid #00000040;
}
.stock-aw h6 {
    font-size: 12px;
    text-align: left;
    color: #000;
}

.stock-award {
    display: flex;
    gap: 21px;
}

.stock-award img {
    width: 24px;
}
.al {margin: -100px 0;}
.activity-area {
    display: flex;
    gap: 29px;
}

.activity-area a i {
    font-size: 24px;
}

.activity-area h3 {
    font-weight: 400;
    font-size: 25px;
}
/* Activity-Page */
.label-date {
    border-bottom: 1px solid #00000038;
    padding-bottom: 26px;
}
.line-dot {
    background: #2998ff;
    width: 7px;
    height: 7px;
    border-radius: 9px;
}

.clock-area {
    display: flex;
    gap: 21px;
    align-items: center;
}
.date-block.text-subhead {
    background: #f0f1f2;
    width: 90px;
    padding: 5px;
    margin: 25px 0;
    font-size: 12px;
    text-align: center;
}
.icons i {
    background: rgb(55, 134, 249);
    color: #fff;
    font-size: 11px;
    border-radius: 30px;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 32px;
}
.clock-con p {
    font-size: 14px;
    margin: 3px 0;
    color: #3f4648;
}

.clock-con span {
    color: #2998ff;
}
.main-dot-p {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-bottom: 35px;
}
h3.num {
    text-align: center;
    font-size: 35px;
    font-weight: 500;
    line-height: 44px;
}
p.para {
    text-align: center;
    font-size: 15px;
    color: #3f4648;
    width: 710px;
}
.anch {
    display: flex;
    justify-content: center;
    margin: 39px 0;
}
.vide {
    text-align: center;
}

.vide video {
    width: 77%;
    height: 289px;
    object-fit: cover;
    border-radius: 22px;
}
.vide {
    text-align: center;
}

.vide video {
    width: 81%;
    height: 289px;
    object-fit: cover;
    border-radius: 22px;
    margin-bottom: 20px;
}
.anch a {
    background: #2998ff;
    color: #fff;
    padding: 10px 15px;
    border-radius: 30px;
    display: table;
    font-size: 14px;
}
.color-main {
    background: #f6f7f7;
    padding: 15px 25px;
    border-radius: 16px;
}

.color-img img {
    width: 100%;
}

.color-img {
    text-align: start;
}
.con-main a {
    border: 1px solid #00000026;
    padding: 7px 15px;
    border-radius: 40px;
    font-weight: 300;
    font-size: 15px;
}
.con-col {
    text-align: center;
}

.con-col span {
    font-size: 15px;
    font-weight: 500;
}

.con-col p {
    font-size: 15px;
    color: #00000094;
}
.video-sec {
    margin-bottom: 44px;
}
h3.pack-hed {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}
.color-main.so {
    background: #fff;
    box-shadow: 0px 0px 16px rgba(0,0,0,0.04),0px 8px 32px rgba(0,0,0,0.06);
    margin-bottom: 23px;
}
.color-icon i {
    font-size: 23px;
}
.color-icon {
    text-align: center;
}
.color-icon p {
    font-size: 12px;
    line-height: 13px;
    margin-top: 11px;
}
span.bor {
    padding: 12px;
}
span.bor i {
    font-size: 15px;
}
.con-button input#Date {
    border: 0;
    border: 1px solid #0000004a;
    padding: 6px 20px;
    border-radius: 33px;
}
.anchor-btn a {
    border: 1px solid #00000029;
    padding: 9px 20px;
    border-radius: 37px;
    font-size: 14px;
    font-weight: 300;
}
.next-milestone-text.text-body {
    font-size: 15px;
    font-weight: 300;
}
.label-date input#Date\ of\ Birth {
    padding: 7px 14px;
    border-radius: 13px;
    border: 1px solid #00000047;
}
.icon img {
    width: 33px;
    background: rgb(255, 154, 108);
    border-radius: 21px;
    padding: 6px 6px;
}
.mr {
    margin: -39px 0;
}
.span-con span {
    background: rgb(255, 154, 108);
    padding: 6px 9px;
    color: #fff;
    border-radius: 19px;
    font-size: 15px;
}
.span-2 {
    margin: 0 -17px;
}
.span-con {
    display: flex;
    align-items: center;
    gap: 10px;
}
h3.gain {
    font-size: 29px;
}
span.line {
    background: #d9d9d9;
    width: 250px;
    height: 1px;
    display: block;
    margin: auto 10px;
}
.doc {
    display: flex;
    margin: auto;
    align-items: center;
}

.doc span {
    color: #0000008c;
    font-size: 18px;
    font-weight: 400;
}
.right {
    text-align: start;
}

.pd {
    padding: 0;
}
.opacity-60-percent.margin-top-10.font-size-13 {
    font-size: 15px;
    opacity: .6;
    margin-top: 10px;
}
.drop-down {
    background: #fff;
    box-shadow: 0px 0px 10px #00000047;
    padding: 10px;
    border-radius: 10px;
    margin-top: 19px;
    position: absolute;
    z-index: 1;
}
.input-con h6 {
    font-size: 14px;
    font-weight: 350;
}
input[type="text"] {
    border: 0;
}
.input-type {
    border: 1px solid #00000063;
    padding: 4px;
    border-radius: 9px;
    width: 214px;
}
input[type="text"]:focus {
    outline: none;
}
.input-con h6 {
    margin-bottom: 23px;
}

.input-con {
    max-height: 230px;
    overflow-y: auto;
    scrollbar-width: thin;
    padding: 17px 10px;
}
.dropdown-menu.show {
    padding: 12px;
    /* width: 232px; */
    border-radius: 9px;
    box-shadow: 0px 0px 31px #00000021;
}
button.btn.btn-secondary.dropdown-toggle {
    background: transparent;
    padding: 8px 21px;
    color: #00000094;
    font-size: 14px;
    border-radius: 32px;
    border: 1px solid #00000038;
}
.logo-div img {
    width: 58px;
}
.logo-div {
    display: flex;
    align-items: center;
}

.logo-div span {
    font-size: 26px;
    font-weight: 400;
}
.mob-prv-div {
    display: flex;
    gap: 21px;
    justify-content: end;
    align-items: center;
}
.mob-prv-div a span {
    background: rgb(255, 138, 101);
    color: #fff;
    padding: 8px;
    font-size: 14px;
    border-radius: 23px;
}
.mob-area {
    border: 1px solid #00000045;
    padding: 8px 29px;
    border-radius: 31px;
}
.mob-area a i {
    margin-right: 11px;
}
section.about-sec-con .container-fluid{
    padding-left: 250px;
}
.video-men {
    text-align: center;
}
.video-men video {
    width: 71%;
    height: 240px;
    border-radius: 16px;
}
section.about-sec-con{
    padding-top: 20px;
}
button#home-tab {
    width: 735px;
    height: 60px;
}
button#profile-tab {
    width: 850px;
    height: 60px;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border-color: none;
}
.anchor-filter a {
    border: 1px solid #0000005e;
    padding: 10px 25px;
    border-radius: 32px;
    text-transform: capitalize;
    display: table;
    margin-top: 20px;
}

.anchor-filter a img {
    margin-right: 10px;
}
.main-sign {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 53px;
    margin-top: 20px;
}
.input-text input[type="text-1"] {
    border: 0;
}
.input-text {
    border: 1px solid #00000057;
    padding: 6px 13px;
    border-radius: 56px;
}
.video-btn {
    background: #227dd1;
    padding: 11px;
    border-radius: 27px;
}
.video-btn a i {
    color: #fff;
    border: 1px solid;
    font-size: 10px;
    border-radius: 34px;
    padding: 4px;
    margin-right: 17px;
}

.video-btn a {
    color: #fff;
    font-size: 15px;
}
.main-arae {
    border-bottom: 1px solid #00000030;
    padding-bottom: 40px;
}
.job-cel {
    border: 1px solid #00000038;
    width: 280px;
    margin-top: 32px;
    border-radius: 20px;
}
.image-val {
    background-image: linear-gradient(180deg,hsla(0,0%,100%,0),#deeefd);
    text-align: center;
}

.image-val img {
    width: 30%;
    margin-top: 36px;
}
.con-ver {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 15px;
}

.job-cell-con {
    padding: 20px;
}
.job-cell-con span {
    font-size: 11px;
    opacity: .5;
    margin-bottom: 5px;
    display: block;
}
input[type="text-1"]:focus {
    outline: 0;
}
.con-ver h6 {
    font-size: 19px;
}
.assigned-block {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 19px;
}

.assigned-block h6 {
    font-size: 14px;
    font-weight: 400;
}
.user h6 {
    background: #dae9ef;
    padding: 8px 22px;
    border-radius: 24px;
    font-size: 14px;
    font-weight: 400;
}
.copper a {
    border-radius: 53px;
    background: rgb(255, 138, 101);
    color: #fff;
    padding: 4px 5px;
    font-size: 13px;
    display: inline-block;
    margin-right: 10px;
}

.copper {
    position: relative;
    margin-left: 30px;
}

.copp {
    position: absolute;
    top: 9px;
    left: 10px;
}
.footer-block a {
    border: 1px solid #000;
    padding: 4px 9px;
    border-radius: 69px;
}
a.block-anc {
    background: #2998ff;
    border: 1px solid #2998ff;
    color: #fff;
    padding: 0px 25px;
    line-height: 28px;
   }

.footer-block {
    display: flex;
    gap: 18px;
    padding: 15px 18px;
    border-top: 1px solid #00000052;
}
.main-img {
    text-align: center;
    margin: 111px 0;
}

.img-area img {
    margin-bottom: 25px;
}
.menu-img img {
    width: 21%;
}
.span-div {
    display: flex;
    gap: 26px;
    align-items: center;
    margin-right: 52px;
}
.span-div h6 {
    font-weight: 300;
    font-size: 15px;
    margin-bottom: 0;
}

span.span-2 {
    font-size: 12px;
    font-weight: 600;
    padding: 7px 10px;
}
.label-btn a {
    display: flex;
    gap: 7px;
    align-items: center;
    padding: 10px 21px;
    border-radius: 22px;
}
.label-btn a h6 {
    font-weight: 300;
    margin-bottom: 0;
}
.main-trogle {
    width: 184px;
    padding: 4px 11px;
    background: #f0f0f0;
    border-radius: 202px;
    border: 0;
}
.btn-check:checked+.btn, .btn.active, .btn.show, .btn:first-child:active, :not(.btn-check)+.btn:active {
    border: 0;
    background: #fff;
    outline: 0;
    border-radius: 30px;
}
.troggle-area {
    display: flex;
    align-items: center;
    gap: 24px;
    border-right: 1px solid;
    width: 290px;
    height: 33px;
}
label.btn a img {
    margin: 5px;
}
.main-trogle-area {
    display: flex;
    align-items: center;
    gap: 0px;
}
.drop-menu {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-left: 20px;
    border-right: 1px solid;
    height: 33px;
}
.wifi-btn {
    border: 1px solid;
    padding: 5px 9px;
    border-radius: 60px;
    margin-left: 13px;
}
.serch-area {
    width: 230px;
}
.main-search {
    display: flex;
    align-items: center;
    gap: 43px;
    justify-content: end;
}
.inp-bor {
    width: 33%;
    border-right: 1px solid;
}
.fix {
    width: 164px;
    height: 40px;
}

.export-th a {
    border: 1px solid;
    border-radius: 24px;
    padding: 10px 21px;
    display: table;
}
.mega-trogle {
    border-bottom: 1px solid #00000059;
    padding-bottom: 33px;
}
.check-div input[type="checkbox"] {
    width: 25px;
    height: 25px;
}

.check-div {
    display: flex;
    padding: 10px;
    align-items: center;
    gap: 17px;
}

.button-con {
    background: #f0f0f0;
    border-radius: 14px;
    padding: 3px;
    margin-bottom: 20px;
}
.img-butt img {
    width: 141%;
}
.circle {
    background: #fff;
    width: 20px;
    height: 20px;
    border-radius: 99px;
}

.img-title {
    display: inline-flex;
    gap: 13px;
}
.smart-table-span {
    line-height: 60px;
    font-size: 15px;
}
.smart-table {
    display: flex;
    gap: 69px;
    justify-content: end;
}
button.btn.btn-secondary.dropdown-toggle.show img {
    width: 15px;
}
button.btn.btn-secondary.dropdown-toggle img {
    width: 20px;
}
.check-div.pro {
    background: #fff;
    justify-content: space-between;
    border-radius: 8px;
    padding: 15px;
    gap: 43px;
}
.num-area {
    border-radius: 7px;
    border-left: 5px solid rgb(152, 61, 115);
    margin: 0 10px;
}
.block {
    background: #fff;
    padding: 13px;
    margin: 9px 9px 2px 9px;
}
.draft-div span {
    color: #eb6800;
    background: #eb680024;
    padding: 6px;
    border-radius: 6px;
    font-size: 14px;
}
.con-div-men {
    display: flex;
    gap: 22px;
}
.main-mess {
    display: flex;
    gap: 101px;
    margin: 4px;
}

.open-but a {
    background: rgb(242, 242, 242);
    color: #000;
    padding: 10px 22px;
    border-radius: 33px;
    font-size: 15px;
}
.but a {
    background: rgb(109, 212, 0);
    color: #fff;
    font-weight: 300;
    font-size: 15px;
    padding: 4px;
    border-radius: 3px;
}
.mb-3 {
    margin-bottom: 0 !important;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background: #fff;
    width: 506px;
    color: #2998ff;
    height: 50px;
    opacity: 100;
    font-weight: 400;
}


.nav-pills .nav-link {
    width: 567px;
    height: 50px;
    font-size: 18px;
    color: #000;
    opacity: .5;
}
.date span {
    font-size: 15px;
}
.div-rae {
    display: flex;
    gap: 8px;
}

.plus-icon {
    background: #2998ff;
    border-radius: 22px;
    color: #fff;
    width: 22px;
    text-align: center;
}

.div-rae span {
    color: #2998FC;
    font-size: 16px;
}
.logo-div.user i {
    font-size: 23px;
}

.user {
    gap: 30px;
    color: var(--blue);
}
.logo-div.user span {
    color: #000000a6;
}
.label-btn {
    display: table;
}
.drop-inner {
    display: flex;
    gap: 221px;
    border-bottom: 1px solid #00000024;
}

.ic-anc-main {
    display: flex;
    gap: 20px;
}
ul.dropdown-menu.filter.show {
    transform: translate(-2px, 42px) !important;
}
.icons-dis i {
    border: 1px solid #0000006b;
    padding: 4px;
    border-radius: 16px;
    font-size: 11px;
}
.swih {
    border: 1px solid #000;
    padding: 3px;
    border-radius: 41px;
    font-size: 13px;
    margin-bottom: 15px;
}
.input-text.pol.form {
    display: table;
    border-radius: 8px;
}
.drop-down-men {
    display: flex;
}
.drop-down-worth {
    display: flex;
    gap: 21px;
}
.content-sec.dro {
    background: #f6f6f6;
    border-bottom: 1px solid #ddd;
    margin-top: 10px;
}
thead.thead-area {
    background: #f8f8f8;
    border-bottom: 1px solid #0000001f;
}

ul.dropdown-menu.show:focus {
    background: unset;
}

ul.dropdown-menu.show li button:focus {
    background: unset;
    color: #000;
}

button.dropdown-item input[type="checkbox"]{
    margin-right: 19px;
}
table.thead-area {
    background: #f8f8f8;
    margin-top: 20px;
}

table.thead-area thead {
    border-bottom: 1px solid #00000038;
}
table.thead-area thead tr th {
    font-size: 14px;
    font-weight: 400;
    color: #000000ab;
}
.dropdown.user-btn button.dropdown-toggle {
    color: #2998ff;
}
table.thead-area thead tr th input[type="checkbox"] {
    margin-left: 14px;
}
.team button.btn.btn-secondary.dropdown-toggle {
    border: none;
    background: #f8f8f8;
    border-radius: 0;
    box-shadow: 0px 0px 5px #7e7b7b2e;
    padding: 15px 23px;
    font-size: 19px;
}
tbody.body-area tr th {
    font-size: 014px;
    font-weight: 400;
    color: #000000bd;
    padding: 10px 0;
}
table.thead-area tbody tr th input[type="checkbox"]{
    margin-left: 10px;
}
tbody.body-area {
    background: #fff;
}

tbody.body-area:hover {
    cursor: pointer;
    background: #f8f8f8;
}
.inner-tab {
    margin: 0 auto;
    width: 480px;
    text-align: center;
    margin-top: 30px;
}

.table-img img {
    width: 310px;
}

.tab-cont h3 {
    font-size: 29px;
}

.tab-cont p {
    font-size: 16px;
    width: 410px;
    margin: 0 auto;
}
.anc-tab a {
    background: #2998ff;
    color: #fff;
    font-size: 14px;
    padding: 10px 20px;
    display: inline-table;
    border-radius: 51px;
}
.anc-tab a i {
    border: 1px solid #fff;
    margin-right: 7px;
    font-size: 11px;
    padding: 3px;
    border-radius: 30px;
}
.dropdown.use-bt button.btn.btn-secondary.dropdown-toggle {
    background: #2998ff;
    color: #fff;
}
.dropdown.user-btn {
    border-left: 1px solid #00000017;
    padding: 0 10px;
}
.dropdown.use-bt{
    border-left: 1px solid #00000017;
    padding: 0 10px; 
}
.form-check.form-switch {
    padding: 0;
}

.form-switch .form-check-input:checked {
    padding: 15px 21px;
    margin: 0;
}
.form-switch .form-check-input {
    padding: 14px 0 14px 39px;
}